<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadVideo</servlet-name>
        <servlet-class>za.ac.tut.web.UploadVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartStudentSession</servlet-name>
        <servlet-class>za.ac.tut.web.StartStudentSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartCompanySession</servlet-name>
        <servlet-class>za.ac.tut.web.StartCompanySession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartAdminSession</servlet-name>
        <servlet-class>za.ac.tut.web.StartAdminSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>za.ac.tut.web.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>za.ac.tut.web.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyLogin</servlet-name>
        <servlet-class>za.ac.tut.web.CompanyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegister</servlet-name>
        <servlet-class>za.ac.tut.web.StudentRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentEditServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StudentEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegister</servlet-name>
        <servlet-class>za.ac.tut.web.AdminRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyRegister</servlet-name>
        <servlet-class>za.ac.tut.web.CompanyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveCompany</servlet-name>
        <servlet-class>za.ac.tut.web.ApproveCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovedCompany</servlet-name>
        <servlet-class>za.ac.tut.web.ApprovedCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineCompany</servlet-name>
        <servlet-class>za.ac.tut.web.DeclineCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentVideosSerlvlet</servlet-name>
        <servlet-class>za.ac.tut.web.StudentVideosSerlvlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartVideoViewSession</servlet-name>
        <servlet-class>za.ac.tut.web.StartVideoViewSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVideoServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRemoveStudent</servlet-name>
        <servlet-class>za.ac.tut.web.StudentRemoveStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSession</servlet-name>
        <servlet-class>za.ac.tut.web.EndSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCompany</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobsAvailableServlet</servlet-name>
        <servlet-class>za.ac.tut.web.JobsAvailableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDescriptionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.JobDescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStudents</servlet-name>
        <servlet-class>za.ac.tut.web.GetAllStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRemoved</servlet-name>
        <servlet-class>za.ac.tut.web.StudentRemoved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordReset</servlet-name>
        <servlet-class>za.ac.tut.web.PasswordReset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComapnyEditProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ComapnyEditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminEditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>za.ac.tut.web.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveVideoServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ApproveVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoApproveServlet</servlet-name>
        <servlet-class>za.ac.tut.web.VideoApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoDeclineServlet</servlet-name>
        <servlet-class>za.ac.tut.web.VideoDeclineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCVServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UploadCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentCV</servlet-name>
        <servlet-class>za.ac.tut.web.StudentCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VeiwCV</servlet-name>
        <servlet-class>za.ac.tut.web.VeiwCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVideoServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyJobServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CompanyJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyRemoveJob</servlet-name>
        <servlet-class>za.ac.tut.web.CompanyRemoveJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobApplyServlet</servlet-name>
        <servlet-class>za.ac.tut.web.JobApplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsVerification.do</servlet-name>
        <servlet-class>za.ac.tut.web.SmsVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>za.ac.tut.web.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsVerify</servlet-name>
        <servlet-class>za.ac.tut.web.SmsVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmsVerific</servlet-name>
        <servlet-class>za.ac.tut.web.SmsVerific</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadVideo</servlet-name>
        <url-pattern>/UploadVideo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartStudentSession</servlet-name>
        <url-pattern>/StartStudentSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartCompanySession</servlet-name>
        <url-pattern>/StartCompanySession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartAdminSession</servlet-name>
        <url-pattern>/StartAdminSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyLogin</servlet-name>
        <url-pattern>/CompanyLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegister</servlet-name>
        <url-pattern>/StudentRegister.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentEditServlet</servlet-name>
        <url-pattern>/StudentEditServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegister</servlet-name>
        <url-pattern>/AdminRegister.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyRegister</servlet-name>
        <url-pattern>/CompanyRegister.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveCompany</servlet-name>
        <url-pattern>/ApproveCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedCompany</servlet-name>
        <url-pattern>/ApprovedCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclineCompany</servlet-name>
        <url-pattern>/DeclineCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentVideosSerlvlet</servlet-name>
        <url-pattern>/StudentVideosSerlvlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartVideoViewSession</servlet-name>
        <url-pattern>/StartVideoViewSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVideoServlet</servlet-name>
        <url-pattern>/ViewVideoServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRemoveStudent</servlet-name>
        <url-pattern>/StudentRemoveStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSession</servlet-name>
        <url-pattern>/EndSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCompany</servlet-name>
        <url-pattern>/DeleteCompany.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobsAvailableServlet</servlet-name>
        <url-pattern>/JobsAvailableServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDescriptionServlet</servlet-name>
        <url-pattern>/JobDescriptionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStudents</servlet-name>
        <url-pattern>/GetAllStudents.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRemoved</servlet-name>
        <url-pattern>/StudentRemoved.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordReset</servlet-name>
        <url-pattern>/PasswordReset.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComapnyEditProfileServlet</servlet-name>
        <url-pattern>/ComapnyEditProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProfileServlet</servlet-name>
        <url-pattern>/AdminEditProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/VerifyEmail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveVideoServlet</servlet-name>
        <url-pattern>/ApproveVideoServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoApproveServlet</servlet-name>
        <url-pattern>/VideoApproveServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoDeclineServlet</servlet-name>
        <url-pattern>/VideoDeclineServlet.do</url-pattern>
    </servlet-mapping>
    <!--    <error-page>
        <error-code>404</error-code>
        <location>/NotFoundMethod.html</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/NotSuppurtedPage.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/NotFound.html</location>
    </error-page>-->
    <servlet-mapping>
        <servlet-name>UploadCVServlet</servlet-name>
        <url-pattern>/UploadCVServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCV</servlet-name>
        <url-pattern>/StudentCV.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VeiwCV</servlet-name>
        <url-pattern>/VeiwCV.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVideoServlet</servlet-name>
        <url-pattern>/DeleteVideoServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyJobServlet</servlet-name>
        <url-pattern>/CompanyJobServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyRemoveJob</servlet-name>
        <url-pattern>/CompanyRemoveJob.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobApplyServlet</servlet-name>
        <url-pattern>/JobApplyServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsVerify</servlet-name>
        <url-pattern>/SmsVerify.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsVerific</servlet-name>
        <url-pattern>/SmsVerific.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/NotFound.html</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/NotFound.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/NotFound.html</location>
    </error-page>
</web-app>
