/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2022, 11:55:16 PM
    Author     : hp
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 100%;
}
.container{
    position: relative;
    max-width: 400px;
    width: 70%;
    background: #fff;
    border-radius: 2%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    top: 20%;
    align-content: center;
}

.form{
    padding: 12%;
    align-content: center;
    align-items: center;
} 
.form .title{
    position: relative;
    font-size: 150%;
    font-weight: 300; 
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 20%;
    background-color: #4070f4;
    border-radius: 10%;
    
}
.form .input-field{ 
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input:focus:active {
    border-bottom-color: #4070f4;
}

.input-field input{
    height: 90%;
    width: 90%;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.3s ease;
}
.input-field i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}


.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center; 
}
.checkbox-content input{
    margin: 0 8px -2px 8px;
    color: #4070f4;
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a{
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    background-color: #4070f4;
    border-radius: 20px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
.button input:hover{
    background-color: #265df2;
}
.form .login-signup{
    margin-top: 30px;
    text-align: center;
    align-items: center;
}
