/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 19, 2022, 6:46:12 PM
    Author     : hp
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}

.container{
    position: absolute; 
    width: 100%;
    top: 8%;
    left: 15%;
    background: #fff; 
    
}

.description{
    width: 90%;
}

.cont{
    position: absolute; 
    width: 100%;
    top: 15%;
    left: 15%;
    background: #fff; 
    margin-top: 10px;
}

.contain{
    position: absolute; 
    width: 50%;
    top: 15%;
    left: 5%;
    background: #fff; 
    margin-top: 30px;
}

.contn{
    position: absolute; 
    width: 100%;
    top: 15%;
    left: 8%;
    background: #fff; 
    margin-top: 10px;
}

.content-table{
    border-collapse: collapse;
    margin: 10px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("3.jpg");
   
    background-position: center;
    background-size: cover;
   }
.content-table thead tr{
    background-color: #0082e6;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.content-table th, .content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    color: #fff;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
    color: #fff;
}
.content-table tbody tr:nth-last-of-type{
    border-bottom: 2px solid  #009879;
    color: #fff;
}

.popup{
    background-color: #424543;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.popup-content{
    height: 250px;
    width:500px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    position:relative;
}

img{
    height: 50px;
    width: 50px;
}
.question{
    margin: 20px auto;
    padding: 8px;
    display: block;
}

a.button, a:hover{
    display: inline;
    border: 1px solid #1b9bff;
    background: #1b9bff;
    padding: 10px;
    border-radius: 20px;
    width: 10%;
}

.build-name{
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 2px;
}
.small-img {
    display: flex;
    background: #efefef;
    margin: 30px 150px;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 50%;
} 
.jobs{
    margin-top: 5px;
    margin-bottom: 15px;
}
